# Do not commit config.h, Makefile, or files generated during compilation

Makefile
bogus.o
builtin.o
builtin.pro
compat.o
compat.pro
cond.o
cond.pro
console.o
dirent.o
exec.o
exec.pro
fork.o
glob.o
glob.pro
globals.o
hashtable.o
hashtable.pro
hist.o
hist.pro
init.o
init.pro
input.o
input.pro
io.o
jobs.o
jobs.pro
lex.o
lex.pro
linklist.o
linklist.pro
loop.o
loop.pro
math.o
math.pro
mem.o
mem.pro
ntb1.o
ntb2.o
ntfunc.o
ZSHLOGO.RES
params.o
params.pro
parse.o
parse.pro
ps.o
signal.o
signals.o
signals.pro
signames.h
stdio.o
subst.o
subst.pro
support.o
termcap.o
text.o
text.pro
tparam.o
tparse.o
utils.o
utils.pro
vc60.pch
watch.o
watch.pro
zle_bindings.o
zle_bindings.pro
zle_hist.o
zle_hist.pro
zle_main.o
zle_main.pro
zle_misc.o
zle_misc.pro
zle_move.o
zle_move.pro
zle_refresh.o
zle_refresh.pro
zle_tricky.o
zle_tricky.pro
zle_utils.o
zle_utils.pro
zle_vi.o
zle_vi.pro
zle_word.o
zle_word.pro
zsh.exe
zsh.map
zsh_nt.o
config.h
